<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>秋元　真夏：　　　まなつ：「真夏に生まれた？」
ファン：「まなった～ん！」</string>
	<string>生田 絵梨花：　　  いくＣ：「どんどん、いくどん、いくたど～ん。う～」
ファン：「ど～ん！」</string>
	<string>生駒 里奈：            　特になし</string>
	<string>伊藤 寧々：　　　　ねねｋ：「みんなのハートをいちころ」
ファン：「ねねころ！」</string>
	<string>伊藤 万理華：　　まりか：「まりっかは」
ファン：「どーがーん（童顔）！」</string>
	<string>井上 小百合：　　　さゆｎ：「あなたのハートをくだ」
ファン：「さゆにゃーん！」</string>
	<string>衛藤 美彩：　　　　みさＭ：「みさみさって呼んでください」
ファン：「みさみさ！」</string>
	<string>川後 陽菜：　　　　ひなＰ：「みんなの心に」
ファン：「ひなぴょん！」
ひなＰ：「魔法をかけちゃうぞ」
ファン：「かかった～！」</string>
	<string>川村 真洋：　　　　ろてぃ：「がんば」
ファン：「ろってぃ～！」</string>
	<string>齋藤 飛鳥：　　　あしゅ：「にらめっこしましょ」
ファン：「あっしゅっしゅー！」</string>
	<string>斎藤ちはる:　　　　ちはＲ：「ちは」
ファン：「るんるん！」</string>
	<string>斉藤 優里:　　　　ゆっＴ：「たんたんたんたん」
ファン：「ゆったんたーん！」</string>
	<string>桜井 玲香:　　　　れいか：「ホップステップからの」
ファン：「ホイップ！」
</string>
	<string>白石 麻衣:　　　　まいＹ：「み～んなの」
ファン：「お姉たま！」</string>
	<string>高山 一実:　　　　かずＭ：「乃木坂46の高山一実だ」
ファン：「ぜぜぜぜぜーい！」
</string>
	<string>中田 花奈:　　　　かなＲ：「上から読んでもなかだかな。下から読んでもなかだかな。横から読んだら～？」
ファン：「ダ！」</string>
	<string>中元 日芽香:　　　ひめた：「みんなからは」
ファン：「ひめた～ん！」
ひめた：「って呼ばれてます。」</string>
	<string>永島 聖羅:　　　　らりん：「いつも貴方の心にお届け物、笑顔と元気の？」
ファン：「せいらり～ん!」</string>
	<string>西野 七瀬:　　　　ななせ：「ん～～～～～」
ファン：「ななせまる～！」</string>
	<string>能條 愛未:　　　　特になし</string>
	<string>橋本 奈々未:　　　特になし</string>
	<string>畠中 清羅:　　　　特になし</string>
	<string>樋口 日奈:　　　　ひなＣ：「ひなのもとにおいでやんす。あなたを待ってる～」
ファン：「ひなちまってる！」</string>
	<string>深川 麻衣:　　　　まいＭ：「まいまい毎日」
ファン：「マイペース！」</string>
	<string>星野 みなみ:　　　特になし</string>
	<string>松村 沙友理:　　　さゆＲ：「さゆりんさゆりん」
ファン：「さゆりんりん！」
さゆＲ：「さゆりんさゆりん」
ファン：「さゆりんご！」
さゆＲ：「あまーい蜜たっぷりさゆりんご　みなさん ご賞味いかかですか？
ファン：「はーい。（いただきまーす）！」</string>
	<string>大和 里菜:　　　　とまと：「とまとが大好き」
ファン：「やまとまと（ぽてと）！」</string>
	<string>若月 佑美:　　　　わかＴ：「こんにち～」
ファン：「わかつき！」</string>
	<string>和田 まあや:　　　　まあや：「Hello, how are you ?」
ファン：「I&apos;m fine thank you !」</string>
</array>
</plist>
